/* Reset and layout rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background: transparent !important; /* 
  ensures your canvas is visible */
  
}
.page-wrapper {
  padding-left: 48px;
  padding-right: 48px;
}
